.poodle-detail-img {
    margin-top: 40px;
    width: 450px;
    height: 300px;
}

.poodle-info {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.poodle-more-info {
    margin-top: 40px;
}

.poodle-skill {
    margin-right: 10px;
}

.poodle-vaccination {
    margin-left: 10px;
}

.adopt-btn {
    margin-top: 20px;
    margin-bottom: 40px;
}

.poodle-background {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
}